# Archivos y carpetas generados por Terraform
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info
.terraformrc
terraform.rc

crash.log
crash.*.log

# Python related
__pycache__/
*.pyc
*.pyo
venv/
.env
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

.gitconfig

